Package: com.rpetrich.rocketbootstrap
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 3.0)
Name: RocketBootstrap
Version: 1.0.1~beta1
Architecture: iphoneos-arm
Description: mach lookup support library for iOS 7
Depiction: http://rpetri.ch/cydia/rocketbootstrap/
Homepage: http://rpetri.ch/cydia/rocketbootstrap/
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Ryan Petrich <rpetrich+rocketbootstrap@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: rpetrich
Tag: purpose::extension, role::developer
