Package: com.rpetrich.rocketbootstrap
Depends: mobilesubstrate, firmware (>= 3.0)
Name: RocketBootstrap
Version: 0.3
Architecture: iphoneos-arm
Description: mach lookup support library for iOS 7
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=rocketbootstrapDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=rocketbootstrapDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Ryan Petrich <rpetrich+rocketbootstrap@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: rpetrich
Tag: purpose::extension, role::developer
