Package: com.rpetrich.rocketbootstrap
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.2
Description: Mach lookup support library for inter-process communication on iOS 7
Name: RocketBootstrap
Depends: firmware (>= 3), mobilesubstrate
Tag: purpose::extension, role::developer
Author: Ryan Petrich
